.cabecalho,
.cabecalho__nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.cabecalho {
  padding: 0.25rem 0;
}

.cabecalho__nav {
  position: relative;
}

.nav__logo {
  width: 145px;
}

.cabecalho__nav {
  gap: 8px;
}


@media (min-width: 768px) {
  .cabecalho,
  .cabecalho__nav {
    display: grid;
    gap: 40px;
  }
  
  .cabecalho {
    grid-template-columns: 1fr minmax(431px, calc(100vw - 2rem - 145px - 48px));
    padding: 0;
  }

  .cabecalho__nav {
    grid-template-columns: minmax(431px, calc(100vw - 2rem - 145px - 48px)) 1fr;
  }

  .input-search {
    display: block;
    height: 56px;
  }

  .nav__buscar .icone-btn {
    display: none;
  }
}

@media (min-width: 1440px) {
  .cabecalho {
    grid-template-columns: 25% 1fr;
  }

  .cabecalho__nav {
    grid-template-columns: 1fr calc((100vw - 4rem) * 0.25);
  }

  .nav__menu {
    display: none;
  }

  .nav__perfil {
    align-items: center;
    display: flex;
    gap: 8px;
    justify-self: flex-end;
  }
}