:root {
  --fonte-primaria: 'Inter', sans-serif;
  --fonte-secundaria: 'Roboto Mono', sans-serif;

  --blue-100: #96B9FD;
  --blue-100-rgb: 150, 185, 253;
  --blue-200: #7BA4FC;
  --blue-200-rgb: 123, 164, 252;
  --blue-300: #5081FB;
  --blue-300-rgb: 80, 129, 251;
  --dark-blue: #051D3B;
  --dark-blue-rgb: 5, 29, 59;
  --branco: #FFFFFF;
  --cinza: #666666;
  --cinza-escuro: #051D38;
  --fundo-codigo: #141414;
}

.title {
  font-size: 1.3125rem;
  font-weight: 700;
  line-height: 2rem;
}

.side-bar {
  font-size: 0.75rem;
  letter-spacing: 0.4rem;
  line-height: 1.125rem;
  text-transform: uppercase;
}

.codigo {
  font-family: var(--fonte-secundaria);
  font-size: 0.875rem;
  line-height: 1.125rem;
}

.icone-btn {
  align-items: center;
  border-radius: 16px;
  display: inline-flex;
  height: 48px;
  justify-content: center;
  width: 48px;
}

.btn,
.icone-btn:hover {
  background-color: rgba(var(--blue-300-rgb), 0.08);
}

.icone-btn:active,
.btn:hover,
.btn:active {
  background-color: rgba(var(--blue-300-rgb), 0.16);
}

.btn,
.btn-preenchido {
  align-items: center;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  padding: 1rem;
  width: 100%;
}

.btn-preenchido {
  background-color: var(--blue-300);
  color: var(--cinza-escuro);
}

.btn-preenchido:hover {
  background-color: var(--blue-200);
}

.btn-preenchido:active {
  border: 4px solid rgba(var(--blue-300-rgb), .72);
}

.btn-preenchido:focus {
  background-color: var(--blue-100);
  border: 0;
}

.btn:focus {
  background-color: rgba(var(--blue-300-rgb), .24);
  border: 0;
}

.btn:active {
  border: 1px solid rgba(var(--blue-300-rgb), .24);
}

.input,
.select {
  background-color: rgba(255, 255, 255, .16);
  border-radius: 8px;
  padding: 1rem;
  outline: none;
  resize: none;
  width: 100%;
}

.select option {
  background-color: rgba(var(--blue-100), .24);
  color: var(--cinza-escuro);
}

.input:hover,
.select:hover {
  background-color: rgba(255, 255, 255, .24);
}

.input::placeholder {
  color: var(--branco);
  font-family: var(--fonte-primaria);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  opacity: .64;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

*::after,
*::before {
  font-family: 'FontAwesome';
}

body {
  background-color: var(--dark-blue);
  color: var(--branco);
  font-family: var(--fonte-primaria);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  padding: 1rem 1rem 0;
}

.conteudo {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 2.5rem 0;
}

.hidden {
  display: none;
}


@media (min-width: 768px) {
  body {
    padding: 2rem 2rem 0;
  }
}

@media (min-width: 1440px) {
  .conteudo {
    display: grid;
    grid-template-columns: 25% 1fr 25%;
    gap: 40px;
  }
}